<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div><button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Adicionar Produto
                    </button>
                    <hr>
                </div>
            </div>
            <div class="col-md-12" id="collapseBasic" [collapse]="isCollapsed">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Adicionar Produto</h4>
                        <p class="card-category">Adicione informações gerais</p>
                    </div>
                    <div class="card-body">
                        <form #formulario="ngForm" id="formulario" method="POST"
                            (ngSubmit)="atualizar ? atualizarProduto(formulario) : criarProduto(formulario)">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input id="cod" name="cod" matInput placeholder="Cód. Barras"
                                            [(ngModel)]="produto.codigo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input id="nome" name="nome" matInput placeholder=" Nome"
                                            [(ngModel)]="produto.nome">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input id="descricao" name="descricao" matInput placeholder=" Descrição">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="unid" name="unid" matInput placeholder="Unid.">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="vrcompra" name="vrcompra" matInput placeholder="Vr. Compra">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="vrvenda" name="vrvenda" matInput placeholder="Vr. Venda">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="estoque" name="estoque" matInput placeholder="Estoque"
                                            [(ngModel)]="produto.status">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="sku" name="sku" matInput placeholder="Referência/SKU.">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="red_ivast" name="red_ivast" matInput placeholder="Redução do IVAST">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="lucro" name="lucro" matInput placeholder="Lucro %"
                                            [(ngModel)]="produto.preco">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="ncm" name="ncm" matInput placeholder="NCM">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="peso_bruto" name="peso_bruto" matInput placeholder="Peso Bruto">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="peso_liq" name="peso_liq" matInput placeholder="Peso Liq..">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input id="observacao" name="observacao" matInput placeholder="Observação">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                value="adicionar">Adicionar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Produtos Cadastrados</h4>
                        <p class="card-category"> Produtos cadastrados no sistema</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="dataTable">
                                <thead class=" text-primary">
                                    <th>
                                        Código
                                    </th>
                                    <th>
                                        Cód. Barra
                                    </th>
                                    <th> Nome</th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th>
                                        Unid.
                                    </th>
                                    <th>
                                        Vr. Compra
                                    </th>
                                    <th>
                                        Vr. Venda
                                    </th>
                                    <th>
                                        Estoque
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let produto of produto">
                                        <td></td>
                                        <td>{{ produto.nome }}
                                        </td>
                                        <td>{{ produto.status }}
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Editar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remover"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>