<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div><button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed"
                            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Adicionar Empresa
                        </button>
                        <hr>
                    </div>
                </div>
                <div class="col-md-12" id="collapseBasic" [collapse]="isCollapsed">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Adicionar Empresa</h4>
                            <p class="card-category">Adicione informações gerais</p>
                        </div>
                        <div class="card-body">
                            <form #formulario="ngForm" id="formulario" method="POST"  
                            (ngSubmit)="atualizar ? atualizarEmpresa(formulario) : criarEmpresa(formulario)"  >
                                <div class="row">
                                    
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                          <input id="cnpj" name="cnpj" matInput placeholder="CNPJ">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input id="razao_social" name="razao_social" matInput placeholder="Razão Social" [(ngModel)]="empresa.razao" >
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input id="nome_fantasia" name="nome_fantasia" matInput placeholder="Nome Fantasia" [(ngModel)]="empresa.nome" >
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width">
                                          <input id="cep" name="cep" matInput placeholder="CEP">
                                        </mat-form-field>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input id="logradouro" name="logradouro" matInput placeholder="Logradouro">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                          <input id="numero" name="numero" matInput placeholder="Número">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input id="complemento" name="complemento" matInput placeholder="Complemento">
                                        </mat-form-field>
                                    </div>                                
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input id="bairro" name="bairro" matInput placeholder="Bairro">
                                        </mat-form-field>
                                    </div>                              
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input id="municipio" name="municipio" matInput placeholder="Município">
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input id="estado" name="estado" matInput placeholder="Estado">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-3">
                                      <mat-form-field class="example-full-width">
                                        <input id="inscricao_estadual" name="inscricao_estadual" matInput placeholder="Inscrição Estadual">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-3">
                                      <mat-form-field class="example-full-width">
                                        <input id="inscricao_municipal" name="inscricao_municipal" matInput placeholder="Inscrição Municipal">
                                      </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                      <mat-form-field class="example-full-width">
                                          <input id="ie_substituto" name="peso_liq" matInput placeholder="IE Substituto">
                                      </mat-form-field>
                                  </div>
                              </div>
                              <div class="row">
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                          <input id="telefone" name="telefone" matInput placeholder="Telefone">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width">
                                          <input id="celular" name="celular" matInput placeholder="Celular">
                                        </mat-form-field>
                                    </div>
      
                                    <div class="col-md-2">
                                      <mat-form-field class="example-full-width">
                                        <input id="site" name="site" matInput placeholder="Site" [(ngModel)]="empresa.webSite" >
                                      </mat-form-field>
                                  </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input id="email" name="email" matInput placeholder="Email address" type="email">
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Adicionar</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-danger">
                          <h4 class="card-title ">Empresas Cadastrados</h4>
                          <p class="card-category"> Empresas cadastrados no sistema</p>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          Código
                                      </th>
                                      <th>
                                          Razão Social
                                      </th>
                                      <th>
                                          Nome Fantasia
                                      </th>
                                      <th>
                                          CEP
                                      </th>
                                      <th>
                                          Logradouro
                                      </th>
                                      <th>
                                          Número
                                      </th>
                                      <th>
                                          Complemento                                    
                                      </th>
                                      <th>
                                          Bairro
                                      </th>
                                      <th>
                                        Estado
                                      </th>
                                        <th>
                                            Telefone
                                        </th>
                                        <th>
                                            Celular
                                        </th>
                                        <th>Site</th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Ações
                                        </th>
                                        
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let c of empresas">
                                          <td>{{c.nome}}</td>
                                          <td>{{c.razao}}</td>
                                          <td>{{c.webSite}}</td>
                                          
                                           <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Editar" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remover" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                      </tr>
                                 </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>