<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div><button type="button" class="btn btn-danger" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Adicionar Contato
                    </button>
                    <hr>
                </div>
            </div>
            <div class="col-md-12" id="collapseBasic" [collapse]="isCollapsed">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Adicionar Contato</h4>
                        <p class="card-category">Adicione informações gerais</p>
                    </div>
                    <div class="card-body">
                        <form #formulario="ngForm" id="formulario" method="POST"  
                        (ngSubmit)="atualizar ? atualizaContato(formulario) : criarContato(formulario)" >
                            <div class="row">
                                <div class="col-md-2">
                                    <select class="selectpicker" placeholder="Tipo_relacao">
                                        <option>Cliente</option>
                                        <option>Fornecedor</option>
                                        <option>Vendedor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input id="razao_social" name="razao_social" matInput placeholder="Razão Social" [(ngModel)]="c.empresa.razao">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input id="nome_fantasia" name="nome_fantasia" matInput placeholder="Nome Fantasia" [(ngModel)]="c.nome_fantasia">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="cep" name="cep" matInput placeholder="CEP" [(ngModel)]="c.cep">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input id="logradouro" name="logradouro" matInput placeholder="Logradouro" [(ngModel)]="c.logradouro">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input id="numero" name="numero" matInput placeholder="Número" [(ngModel)]="c.numero">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input id="complemento" name="complemento" matInput placeholder="Complemento" [(ngModel)]="c.complemento">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input id="bairro" name="bairro" matInput placeholder="Bairro" [(ngModel)]="c.bairro">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input id="municipio" name="municipio" matInput placeholder="Município" [(ngModel)]="c.municipio">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input id="estado" name="estado" matInput placeholder="Estado" [(ngModel)]="c.estado">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="telefone" name="telefone" matInput placeholder="Telefone" [(ngModel)]="c.telefone">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input id="celular" name="celular" matInput placeholder="Celular" [(ngModel)]="c.celular">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input id="email" name="email" matInput placeholder="Email address" type="email" [(ngModel)]="c.email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Adicionar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Contatos Cadastrados</h4>
                        <p class="card-category"> Contatos cadastrados no sistema</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Código
                                    </th>
                                    <th>
                                        Razão Social
                                    </th>
                                    <th>
                                        Nome Fantasia
                                    </th>
                                    <th>
                                        Logradouro
                                    </th>
                                    <th>
                                        Número
                                    </th>
                                    <th>
                                        Bairro
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Telefone
                                    </th>
                                    <th>
                                        Celular
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Ações
                                    </th>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            845
                                        </td>
                                        <td>
                                            Neopólis
                                        </td>
                                        <td>
                                            RN
                                        </td>
                                        <td>
                                            94682005
                                        </td>
                                        <td>
                                            94682005
                                        </td>
                                        <td>
                                            Oud-Turnhout@gmail.com
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Editar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remover"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let c of contatos">
                                        <td>
                                            {{c.tipo_relacao}}
                                        </td>
                                        <td>
                                            {{c.razao_social}}
                                        </td>
                                        <td>
                                            {{c.nome_fantasia}}
                                        </td>
                                        <td>
                                            {{c.cep}}
                                        </td>
                                        <td>
                                            {{c.logradouro}}
                                        </td>
                                        <td>
                                            {{c.numero}}
                                        </td>
                                        <td>
                                            {{c.complemento}}
                                        </td>
                                        <td>
                                            {{c.bairro}}
                                        </td>
                                        <td>
                                            {{c.municipio}}
                                        </td>
                                        <td>
                                            {{c.estado}}
                                        </td>
                                        <td>
                                            {{c.telefone}}
                                        </td>
                                        <td>
                                            {{c.celular}}
                                        </td>
                                        <td>
                                            {{c.email}}
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="Editar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="Remover"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>